In [3]:
import sqlite3, csv
import pandas as pd

In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
con = sqlite3.connect("new.db")
cur=con.cursor()

In [6]:
%sql sqlite:///new.db

In [8]:
df1=pd.read_csv(r"C:\Users\Ism\pythonProject\ChicagoCensusData.csv")
df2=pd.read_csv(r"C:\Users\Ism\pythonProject\ChicagoCrimeData.csv")
df3=pd.read_csv(r"C:\Users\Ism\pythonProject\ChicagoPublicSchools.csv")
df1.to_sql("ChicagoCensusData", con, if_exists='replace', index=False,method="multi")
df2.to_sql("ChicagoCrimeData", con, if_exists='replace', index=False,method="multi")
df3.to_sql("ChicagoPublicSchools", con, if_exists='replace', index=False,method="multi")

566

### SQLite: System Tables
##### to Know what all tables contain
#### https://www.techonthenet.com/sqlite/sys_tables/index.php 
I am using this link as a reference

In [25]:
%sql select * from sqlite_master

 * sqlite:///new.db
Done.

[('table', 'ChicagoCensusData', 'ChicagoCensusData', 2, 'CREATE TABLE "ChicagoCensusData" (\n"COMMUNITY_AREA_NUMBER" REAL,\n  "COMMUNITY_AREA_NAME" TEXT,\n  "PERCENT_OF_HOUSING_CROWDED" REAL,\n  "PERCENT_HO ... (79 characters truncated) ... T_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA" REAL,\n  "PERCENT_AGED_UNDER_18_OR_OVER_64" REAL,\n  "PER_CAPITA_INCOME" INTEGER,\n  "HARDSHIP_INDEX" REAL\n)'),
 ('table', 'ChicagoCrimeData', 'ChicagoCrimeData', 5, 'CREATE TABLE "ChicagoCrimeData" (\n"ID" INTEGER,\n  "CASE_NUMBER" TEXT,\n  "DATE" TEXT,\n  "BLOCK" TEXT,\n  "IUCR" TEXT,\n  "PRIMARY_TYPE" TEXT,\n  " ... (185 characters truncated) ... \n  "FBICODE" TEXT,\n  "X_COORDINATE" REAL,\n  "Y_COORDINATE" REAL,\n  "YEAR" INTEGER,\n  "LATITUDE" REAL,\n  "LONGITUDE" REAL,\n  "LOCATION" TEXT\n)'),
 ('table', 'ChicagoPublicSchools', 'ChicagoPublicSchools', 29, 'CREATE TABLE "ChicagoPublicSchools" (\n"School_ID" INTEGER,\n  "NAME_OF_SCHOOL" TEXT,\n  "ElementaryMiddleorHighSchool" TEXT,\n  "Street_Address" TEX ... (2193 characters truncated) ... tude" REAL,\n  "COMMUNITY_AREA_NUMBER" INTEGER,\n  "COMMUNITY_AREA_NAME" TEXT,\n  "Ward" INTEGER,\n  "Police_District" INTEGER,\n  "Location" TEXT\n)')]

In [24]:
%%sql select * from sqlite_master
where tbl_name ="ChicagoCrimeData"

 * sqlite:///new.db
Done.

[('table', 'ChicagoCrimeData', 'ChicagoCrimeData', 5, 'CREATE TABLE "ChicagoCrimeData" (\n"ID" INTEGER,\n  "CASE_NUMBER" TEXT,\n  "DATE" TEXT,\n  "BLOCK" TEXT,\n  "IUCR" TEXT,\n  "PRIMARY_TYPE" TEXT,\n  " ... (185 characters truncated) ... \n  "FBICODE" TEXT,\n  "X_COORDINATE" REAL,\n  "Y_COORDINATE" REAL,\n  "YEAR" INTEGER,\n  "LATITUDE" REAL,\n  "LONGITUDE" REAL,\n  "LOCATION" TEXT\n)')]

### the total number of crimes recorded in the CRIME table

In [26]:
%sql select count(*) from ChicagoCrimeData

 * sqlite:///new.db
Done.

[(533,)]

### List community areas with per capita income less than 11000.

In [29]:
%sql select COMMUNITY_AREA_NAME from ChicagoCensusData where PER_CAPITA_INCOME <11000

 * sqlite:///new.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

### List all case numbers for crimes involving minors?

In [43]:
%sql select CASE_NUMBER from ChicagoCrimeData WHERE DESCRIPTION LIKE '%MINOR%';

 * sqlite:///new.db
Done.

[('HL266884',), ('HK238408',)]

### List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

In [50]:
%sql select *	 from ChicagoCrimeData where PRIMARY_TYPE like 'KIDNAPPING'

 * sqlite:///new.db
Done.

[(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

### What kind of crimes were recorded at schools?

In [55]:
%sql select distinct(PRIMARY_TYPE) from ChicagoCrimeData where LOCATION_DESCRIPTION like '%SCHOOL%'

 * sqlite:///new.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### List the average safety score for all types of schools

In [59]:
%sql select ElementaryMiddleorHighSchool ,AVG(SAFETY_SCORE)from ChicagoPublicSchools group by ElementaryMiddleorHighSchool

 * sqlite:///new.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

### List 5 community areas with highest % of households below poverty line.

In [69]:
%%sql select COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME	,PERCENT_HOUSEHOLDS_BELOW_POVERTY from ChicagoCensusData 
order by PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5

 * sqlite:///new.db
Done.

[(54.0, 'Riverdale', 56.5),
 (37.0, 'Fuller Park', 51.2),
 (68.0, 'Englewood', 46.6),
 (29.0, 'North Lawndale', 43.1),
 (27.0, 'East Garfield Park', 42.4)]

### Which community area(number) is most crime prone

In [89]:
%%sql
SELECT COMMUNITY_AREA_NUMBER ,COUNT(COMMUNITY_AREA_NUMBER) AS FREQUENCY
FROM CHICAGOCRIMEDATA 
GROUP BY COMMUNITY_AREA_NUMBER
ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC
LIMIT 1

 * sqlite:///new.db
Done.

[(25.0, 43)]

### Use a sub-query to find the name of the community area with highest hardship index.

In [93]:
%sql select COMMUNITY_AREA_NAME from  (select * from ChicagoCensusData order by HARDSHIP_INDEX DESC limit 1)

 * sqlite:///new.db
Done.

[('Riverdale',)]

### sub-query to determine the Community Area Name with most number of crimes?

In [110]:
%%sql
with T1 as (select COMMUNITY_AREA_NUMBER , count(COMMUNITY_AREA_NUMBER) 
from CHICAGOCRIMEDATA
    group by COMMUNITY_AREA_NUMBER 
    order by count(COMMUNITY_AREA_NUMBER) DESC)
select COMMUNITY_AREA_NAME from ChicagoCensusData 
where(COMMUNITY_AREA_NUMBER like(select COMMUNITY_AREA_NUMBER from t1 limit 1))

 * sqlite:///new.db
Done.

[('Austin',)]